.my_gradient_grey
{
  width: 100%;
  /*height: 100px;*/

  padding-bottom: 10px ;
  padding-top: 10px;
  margin-top: 0px;
 
background: #e2e2e2; /* Old browsers 
background: -moz-linear-gradient(left,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to right,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 */

}

#top_pannel_div li:hover
{
color: black;
background-color: rgb(192,0,0);
color: #000000;

}
.container
{
width: 100%;
height: 75%;
margin: -10px -10px -10px -10px;
}
.cell_with_border{
border: solid;
margin: 0px 0px 0px 0px;
}
.my_gradient_red
{
  width: 100%;

   background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 45%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#a90329), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 45%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 45%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 45%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 45%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

#getting_started_txt
{
  margin: 0;
font-size: 26px;
height: 100%;
height: 64px;
line-height: 64px;
font-family: proxima_novasemibold, Arial, Helvetica, sans-serif;
width: 70%;
float: left;
line-height: normal;
white-space: nowrap;
}

.top_panel{

  /*float: right;*/
}
#summay_table{
  margin-top: 50px;
}
#summary{
  height: 25%;
}
#msg
{
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: black;
background-image:url('../images/logo.jpg');*/
  
}
#block_started
{
  width: 100%;
  height: 100px;
  padding: 5px 5px 15px 15px;

  margin: 15px;
}

.timeline{
  float: left;
border-radius: 1px 1px 1px 1px;
cursor: pointer;
display: block;
font-size: 12px;
text-transform: uppercase;
/*padding: 5px 5px 5px 5px;*/
text-align: center;
vertical-align: top;
display: block;
white-space: nowrap;
color: black;
}
#dummy_row{
   width: 25%;
}

#timeline_btn{
  margin-top:30px;
  float: center;
  width: 15%;
}
#period{
width: 60%;
float: right;
}
#statics-param
{
   margin: 30;
  padding: 15;
 /* height: 480px;
  width: 200px;*/
background-color: Gray;
}
@font-face
{
font-family: 'myFirstFont';
/*src: url("/Library/Fonts/Corsiva.ttf");*/
src: local('/Library/Fonts/Corsiva.ttf') format('truetype');
}
#title-start-tracking {
margin: 0;
font-size: 26px;
color: black;
height: 100%;
height: 64px;
line-height: 64px;
width: 70%;
float: left;
line-height: normal;
white-space: nowrap;
}

#getting_started_btn {
float: right;
border-radius: 1px 1px 1px 1px;
cursor: pointer;
display: block;
font-size: 18px;
text-transform: uppercase;
width: 20%;
padding: 15px 0;
margin-right: 15px;
text-align: center;
vertical-align: top;
display: block;
white-space: nowrap;
color: black;
}

#home-icons
{
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

#signup-text
{
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}


#logo
{
height: 100px;
width: 200px;
}

td
{
padding:15px;
font-family: 'myFirstFont';
}
#body_table{

    width: 100%;
}
#left_pannel{

  width: 25%;
}

#data{
   width: 75%;
}
.left_pannel_elem:hover {
  color: black;
background-color: rgb(192,0,0);
color: #000000;
}

ul#menu
{
  color: black;
  font-size: 30px;
    width:85%;
    float: right;
    display:inline;
    margin: 0;
    text-align: right;
}

ul#menu li
{
  color: black;
   padding-left: 20px;
    padding-right: 20px;
display: inline;
list-style: none;
}

ul#performance_param li {
  color: black;
 list-style-type: none;
  padding-left: 1em;
  text-indent: -1em;
}
li:before {
  padding-right: 5px;
}

body {
	/*background-image:url('../images/logo.jpg');*/
	color: black;
font-size: 18px;
line-height: 24px;
font-weight: normal;
font-style: normal;
font-family: myFirstFont;
width: 100%;
height: 100%;
position: relative;

/*margin-top: -1;*/
}
/* Remove Block Separators if System Output is disabled */
/*#header + #bottom-a:before,
#top-a + #bottom-a:before,
#top-b + #bottom-a:before { display: none; }

/* Footer + Header */
